@import controllers.dto.PaymentMethodDto
@(method: PaymentMethodDto)

<table style="width: 100%">
    <caption>Payment method details</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">User</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    <tr>
        <td>@method.id</td>
        <td>@method.user.email</td>
        <td>@method.name</td>
        <td><a href="@controllers.view.routes.PaymentMethodViewController.update(method.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.PaymentMethodViewController.delete(method.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.PaymentMethodViewController.getAll">Payment methods</a>