@import controllers.dto.UserDto
@import controllers.view.UpdatePaymentMethodForm
@(method: Form[UpdatePaymentMethodForm], users: List[UserDto])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.view.routes.PaymentMethodViewController.updateHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@method("id").value" type="hidden" />
    @inputText(method("name"))

    <select name="user" id="user">
    @for(user <- users) {
        @if(user.id.toString == method("user").value.getOrElse(0)) {
            <option value="@user.id" selected>@user.email</option>
        } else {
            <option value="@user.id">@user.email</option>
        }
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Payment Method"/>
    </div>
}<br>
<a href="@controllers.view.routes.IndexViewController.index">Index</a><br>
<a href="@controllers.view.routes.PaymentMethodViewController.getAll">Payment Methods</a>