@import controllers.dto.CartItemDto
@(item: CartItemDto)

<table style="width: 100%">
    <tr>
        <th>Id</th>
        <th>Cart</th>
        <th>Cart owner</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>@item.id</td>
        <td>@item.cart.id</td>
        <td>@item.cart.user.name</td>
        <td>@item.product.name</td>
        <td>@item.amount</td>
        <td><a href="@controllers.view.routes.CartItemViewController.update(item.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.CartItemViewController.delete(item.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.CartItemViewController.getAll">Products</a>