@import controllers.view.CreatePurchaseHistoryForm
@import controllers.dto.CartDto
@import controllers.dto.PaymentMethodDto
@import controllers.dto.UserAddressDto
@(history: Form[CreatePurchaseHistoryForm], carts: List[CartDto], paymentMethods: List[PaymentMethodDto], addresses: List[UserAddressDto])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.view.routes.PurchaseHistoryViewController.addHandle) {
    @helper.CSRF.formField
    @inputText(history("totalPrice"))
    @inputDate(history("purchaseTimestamp"))

    <select name="cart" id="cart">
    @for(cart <- carts) {
        <option value="@cart.id">@cart.id</option>
    }
    </select><br/>

    <select name="paymentMethod" id="paymentMethod">
    @for(method <- paymentMethods) {
        <option value="@method.id">@(method.id + ": " + method.name)</option>
    }
    </select><br/>

    <select name="address" id="address">
    @for(address <- addresses) {
        <option value="@address.id">@(address.id + ": " + address.street + " " + address.city + " " + address.zipcode)</option>
    }
    </select><br/>

    <div class="buttons">
        <input type="submit" value="Add Purchase History"/>
    </div>
}<br>
<a href="@controllers.view.routes.IndexViewController.index">Index</a><br>
<a href="@controllers.view.routes.PurchaseHistoryViewController.getAll">Purchase histories</a>