@import controllers.view.UpdatePurchaseHistoryForm
@import controllers.dto.CartDto
@import controllers.dto.PaymentMethodDto
@import controllers.dto.UserAddressDto
@(history: Form[UpdatePurchaseHistoryForm], carts: List[CartDto], paymentMethods: List[PaymentMethodDto], addresses: List[UserAddressDto])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.view.routes.PurchaseHistoryViewController.updateHandle) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@history("id").value" type="hidden" />
    @inputText(history("totalPrice"))
    @inputDate(history("purchaseTimestamp"))

    <select name="cart" id="cart">
    @for(cart <- carts) {
        @if(cart.id.toString == history("cart").value.getOrElse(0)) {
            <option value="@cart.id" selected>@cart.id</option>
        } else {
            <option value="@cart.id">@cart.id</option>
        }
    }
    </select>
    <br>

    <select name="paymentMethod" id="paymentMethod">
    @for(method <- paymentMethods) {
        @if(method.id.toString == history("paymentMethod").value.getOrElse(0)) {
            <option value="@method.id" selected>@(method.id + ": " + method.name)</option>
        } else {
            <option value="@method.id">@(method.id + ": " + method.name)</option>
        }
    }
    </select>
    <br>

    <select name="address" id="address">
    @for(address <- addresses) {
        @if(address.id.toString == history("address").value.getOrElse(0)) {
            <option value="@address.id" selected>@(address.id + ": " + address.street + " " + address.city + " " + address.zipcode)</option>
        } else {
            <option value="@address.id">@(address.id + ": " + address.street + " " + address.city + " " + address.zipcode)</option>
        }
    }
    </select>
    <br>

    <div class="buttons">
        <input type="submit" value="Update Purchase History"/>
    </div>
}<br>
<a href="@controllers.view.routes.IndexViewController.index">Index</a><br>
<a href="@controllers.view.routes.PurchaseHistoryViewController.getAll">Purchase histories</a>