@import controllers.dto.PurchaseHistoryDto
@(history: PurchaseHistoryDto)

<table style="width: 100%">
    <tr>
        <th>Id</th>
        <th>Cart</th>
        <th>Cart owner</th>
        <th>Total price</th>
        <th>Purchased On</th>
        <th>Payment method</th>
        <th>Owner address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>@history.id</td>
        <td>@history.cart.id</td>
        <td>@history.cart.user.email</td>
        <td>@history.totalPrice</td>
        <td>@history.purchaseTimestamp</td>
        <td>@history.paymentMethod.name</td>
        <td>@(history.address.street + " " + history.address.city + " " + history.address.zipcode)</td>
        <td><a href="@controllers.view.routes.PurchaseHistoryViewController.update(history.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.PurchaseHistoryViewController.delete(history.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.PurchaseHistoryViewController.getAll">Purchase histories</a>