@import controllers.dto.DeliveryDto
@(delivery: DeliveryDto)

<table style="width: 100%">
    <caption>Delivery details</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Cart</th>
        <th scope="col">Cart owner</th>
        <th scope="col">Delivered On</th>
        <th scope="col">Is delivered</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    <tr>
        <td>@delivery.id</td>
        <td>@delivery.cart.id</td>
        <td>@delivery.cart.user.email</td>
        <td>@delivery.deliveryTimestamp</td>
        <td>@delivery.isDelivered</td>
        <td><a href="@controllers.view.routes.DeliveryViewController.update(delivery.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.DeliveryViewController.delete(delivery.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.DeliveryViewController.getAll">Deliveries</a>