@import controllers.dto.DeliveryDto
@(deliveries: List[DeliveryDto])

<table style="width: 100%">
    <tr>
        <th>Id</th>
        <th>Cart</th>
        <th>Cart owner</th>
        <th>Delivered On</th>
        <th>Is delivered</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @for(delivery <- deliveries) {
        <tr>
            <td>@delivery.id</td>
            <td>@delivery.cart.id</td>
            <td>@delivery.cart.user.name</td>
            <td>@delivery.deliveryTimestamp</td>
            <td>@delivery.isDelivered</td>
            <td><a href="@controllers.view.routes.DeliveryViewController.findOne(delivery.id)">Details</a></td>
            <td><a href="@controllers.view.routes.DeliveryViewController.update(delivery.id)">Edit</a></td>
            <td><a href="@controllers.view.routes.DeliveryViewController.delete(delivery.id)">Delete</a></td>
        </tr>
    }
    </table> <br>
<a href="@controllers.view.routes.DeliveryViewController.add">Add new delivery</a> <br>
<a href="@controllers.view.routes.IndexViewController.index">Index</a>