@import controllers.dto.CartDto
@(cart: CartDto)

<table style="width: 100%">
    <caption>Cart details</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Created at</th>
        <th scope="col">User</th>
        <th scope="col">Purchased</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    <tr>
        <td>@cart.id</td>
        <td>@cart.createdTime</td>
        <td>@cart.user.email</td>
        <td>@cart.purchased</td>
        <td><a href="@controllers.view.routes.CartViewController.update(cart.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.CartViewController.delete(cart.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.CartViewController.getAll">Carts</a>