@import controllers.dto.UserDto
@(users: List[UserDto])

<table style="width: 100%">
    <caption>Users</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Provider id</th>
        <th scope="col">Provider key</th>
        <th scope="col">Details</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    @for(user <- users) {
        <tr>
            <td>@user.id</td>
            <td>@user.email</td>
            <td>@user.providerId</td>
            <td>@user.providerKey</td>
            <td><a href="@controllers.view.routes.UserViewController.findOne(user.id)">Details</a></td>
            <td><a href="@controllers.view.routes.UserViewController.update(user.id)">Edit</a></td>
            <td><a href="@controllers.view.routes.UserViewController.delete(user.id)">Delete</a></td>
        </tr>
    }
    </table> <br>

<a href="@controllers.view.routes.UserViewController.add">Add new user</a> <br>
<a href="@controllers.view.routes.IndexViewController.index">Index</a>