@import controllers.dto.UserAddressDto
@(userAddresses: List[UserAddressDto])

<table style="width: 100%">
    <caption>User addresses</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Zip code</th>
        <th scope="col">User</th>
        <th scope="col">Details</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    @for(userAddress <- userAddresses) {
        <tr>
            <td>@userAddress.id</td>
            <td>@userAddress.street</td>
            <td>@userAddress.city</td>
            <td>@userAddress.zipcode</td>
            <td>@userAddress.user.email</td>
            <td><a href="@controllers.view.routes.UserAddressViewController.findOne(userAddress.id)">Details</a></td>
            <td><a href="@controllers.view.routes.UserAddressViewController.update(userAddress.id)">Edit</a></td>
            <td><a href="@controllers.view.routes.UserAddressViewController.delete(userAddress.id)">Delete</a></td>
        </tr>
    }
    </table> <br>
<a href="@controllers.view.routes.UserAddressViewController.add">Add new user address</a> <br>
<a href="@controllers.view.routes.IndexViewController.index">Index</a>