@import controllers.dto.UserAddressDto
@(userAddress: UserAddressDto)

<table style="width: 100%">
    <caption>User address details</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Zip code</th>
        <th scope="col">User</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    <tr>
        <td>@userAddress.id</td>
        <td>@userAddress.street</td>
        <td>@userAddress.city</td>
        <td>@userAddress.zipcode</td>
        <td>@userAddress.user.email</td>
        <td><a href="@controllers.view.routes.UserAddressViewController.update(userAddress.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.UserAddressViewController.delete(userAddress.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.UserAddressViewController.getAll">User addresses</a>