@(stock: Stock)

<table style="width:100%">
    <tr>
        <th>Product</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
    <td>@stock.product</td>
    <td>@stock.amount</td>
        <td><a href="@controllers.view.routes.StockViewController.update(stock.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.StockViewController.delete(stock.id)">Delete</a></td>
    </tr>
</table><br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a><br>
<a href="@controllers.view.routes.StockViewController.getAll">Stocks</a>