@import controllers.dto.StockDto
@(stock: StockDto)

<table style="width: 100%">
    <caption>Stock details</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Product</th>
        <th scope="col">Product Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    <tr>
        <td>@stock.id</td>
        <td>@stock.product.name</td>
        <td>@stock.product.category.name</td>
        <td>@stock.amount</td>
        <td><a href="@controllers.view.routes.StockViewController.update(stock.id)">Edit</a></td>
        <td><a href="@controllers.view.routes.StockViewController.delete(stock.id)">Delete</a></td>
    </tr>
</table> <br>

<a href="@controllers.view.routes.IndexViewController.index">Index</a> <br>
<a href="@controllers.view.routes.StockViewController.getAll">Stocks</a>