<h1>Shopping admin panel</h1> <br>

<a href="@controllers.view.routes.ProductViewController.getAll">Products</a> <br>
<a href="@controllers.view.routes.CategoryViewController.getAll">Categories</a> <br>
<a href="@controllers.view.routes.UserViewController.getAll">Users</a> <br>
<a href="@controllers.view.routes.UserAddressViewController.getAll">User addresses</a> <br>
<a href="@controllers.view.routes.StockViewController.getAll">Stocks</a> <br>
<a href="@controllers.view.routes.CartViewController.getAll">Carts</a> <br>
<a href="@controllers.view.routes.CartItemViewController.getAll">Cart items</a> <br>
<a href="@controllers.view.routes.DeliveryViewController.getAll">Deliveries</a> <br>
<a href="@controllers.view.routes.PaymentMethodViewController.getAll">Payment methods</a> <br>
<a href="@controllers.view.routes.PurchaseHistoryViewController.getAll">Purchase histories</a> <br>